* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(105, 105, 105);
  border-bottom: 1px solid white;
  height: 10vh;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
}

.nav-items {
  display: flex;
  list-style-type: none;
  cursor: pointer; 
  justify-content: space-between;
}

.options {
  display: flex;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1vh;
  font-size: 2vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 4vh;
  padding-left: 4vh;
}

.img-product {
  width: 80%;
}

.name-product {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-bottom: 5vh;
  font-size: 3vh;
  color: white;
}

.description {
  font-family: "Times New Roman", Times, serif;
  font-size: 3vh;
  color: white;
}

.resources{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

i{
  cursor: pointer;
  color: white;
  width: 1%;
  height: 1%;
}

.resource-link{
  text-decoration: none;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  justify-content: space-around;
}

.img-resource{
  align-items: center;
  width: 3%;
}